:root {
    --color: #a6d400;
    --hover-color: #c8ff00;
    --text-color: #fff;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: #303030;
    font-family: 'verdana', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 100px;
    padding-top: 100px;
}
.count h1 {
    font-size: 15rem;
    color: var(--hover-color);
}
.container .btn {
    width: 50%;
    max-width: 700px;
    height: 5%;
}
.btn button {
    width: 40%;
    font-size: 16px;
    height: 100%;
    border: 2px solid var(--color);
    outline: none;
    color: var(--color);
    border-radius: 6px;
    transition: .3s;
    text-transform: uppercase;
    font-weight: 600;
    background: #303030;
}
.btn button:hover {
    background: var(--color);
    color: var(--text-color);
}
.btn button:active {
    transform: scale(1);
}
.btn button:nth-child(2) {
    float: right;
}