*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: #303030;
    font-family: 'verdana', sans-serif;
}
.count {
    margin-bottom: 50px;
}
button {
    margin: 0 12px;
}